{{ $gr := "git-repo" | quote -}}
{{ $dr := "168h" | quote -}}
{{ range list "zsh-syntax-highlighting" "zsh-autosuggestions" "zsh-history-substring-search" -}}
[".zsh/plugins/{{ . }}"]
url = "https://github.com/zsh-users/{{ . }}.git"
refreshPeriod = {{ $dr }}
type = {{ $gr }}
{{ end -}}
{{- if .is_work -}}
[".config/servers/mcp/n/confluence-mcp"]
url = {{ (decrypt (include ".confluence-mcp-url.age")) | trim | quote }}
refreshPeriod = {{ $dr }}
type = {{ $gr }}
{{- end }}
