cask "1password@beta"
cask "1password-cli"
brew "atuin"
brew "git"
cask "git-credential-manager"
brew "mise"
cask "powershell"
cask "powershell@preview"


#-----
brew "dos2unix"
brew "htop"
brew "iperf3"
brew "lima"
brew "nushell"
brew "tmux"
cask "alt-tab"
cask "dbeaver-community"
cask "font-jetbrains-mono-nerd-font"
# cask "nordvpn"
cask "raycast"
cask "steam"
cask "tailscale-app"
cask "visual-studio-code"
cask "warp"
cask "xpipe"
cask "zed"
