cask "1password-cli"
brew "atuin"
brew "dos2unix"
cask "font-jetbrains-mono-nerd-font"
brew "git"
cask "git-credential-manager"
brew "htop"
brew "chezmoi"
brew "lima"
brew "mise"
brew "nushell"
brew "tmux"

{{- if not .is_work }}
cask "steam"
cask "tailscale-app"
{{- end }}

# Allowed apps
cask "1password@beta"
cask "alt-tab"
cask "dbeaver-community"
cask "docker-desktop"
cask "raycast"
cask "shottr"
cask "visual-studio-code"
cask "wezterm"
cask "zed"
