services:
  gluetun:
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 127.0.0.1:8888:8888/tcp # HTTP proxy
      - 127.0.0.1:8388:8388/tcp # Shadowsocks
      - 127.0.0.1:8388:8388/udp # Shadowsocks
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - HTTPPROXY=on
      - WIREGUARD_PRIVATE_KEY=cNkzZkYoNA8LmVtRUBB5hRQkduNKaHyUOiLkg/6ijXo=
      - SERVER_COUNTRIES=United States
      - SERVER_CITIES=Washington
